html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
    background-color: mistyrose;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: dotted;
    color: #6aa72e;
}


/* -------------------------------------------------------------------------------------------------------------------------------- */
.header {
    margin-bottom: 50px;
}

.header-top {
    display: flex;
    height: 160px;
    align-items: center;
    justify-content: space-around;
}


.container {
    padding: 0px 74px;
}

.category-list {}

.category-list-a {
    margin-right: 34px;
    color: #000000;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    background-color: rgb(128, 128, 128);
    border-radius: 10px;
    padding: 10px 10px;

}

.category-list-a:last-child {
    margin-right: 60px;

}

.category-list-a:hover {
    background-color: rgb(133, 125, 125);
    color: #3f3c3c;
}

.href-converter {
    font-size: 30px;
    background-color: #4549a0;
    padding: 5px 5px;
    border-radius: 10px;
}


.auth-a {
    text-decoration: none;
    background: #406AFF;
    font-size: 30px;
    color: #000000;
    padding: 5px 10px;
    margin: 0px 40px 0px 0px;
    cursor: pointer;

}

.auth-a:hover {
    background: #2854f4;
    color: #121111;
}

.Rus {
    display: flex;
    align-items: center;
}

.rus-img {
    max-width: 30%;
    margin-right: 20px;
}

.rus-p {
    font-size: 30px;
}

.header-right {
    align-items: center;
    display: flex;
}

.header-bottom {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly
}

.logo {
    width: 70px;
    height: 70px;
}

.logo-img {
    width: 100%;
}


.kyrs {
    display: flex;
    align-items: center;
}

.kyrs-img {
    width: 40px;
    height: 40px;
}

.kyrs-p {
    font-size: 35px;
}

.seach {}

.seach-input {
    width: 307px;
    height: 38px;
    border-radius: 15px 0px 0px 15px;
}

.seach-button {
    background-color: #2854f4;
    height: 44px;
    width: 70px;

}

.main {
    display: flex;
    justify-content: space-around;
}

.nav {
    width: 300px;
    /* ширина меню */

}

.content {}

.nav-p {
    font-size: 30px;
    margin-bottom: 10px;
}

.nav-h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;

}

.block-top {
    display: flex;
    margin-bottom: 20px;
}

.blok-one {
    margin-right: 10px;
    width: 480px;
}

.blok-one-img {

    height: 350px;
}

.blok-two {
    margin-bottom: 10px;

}

.blok-two-img {
    width: 300px;
    height: 155px;
}

.title {
    font-size: 20px;
}

.blok-title-span {
    background-color: rgb(103, 103, 209);
    margin-left: 20px;
    border-radius: 10px;
    width: 200px;
}

.block-botton {}

.blok-new {
    height: 200px;
    width: 480px;
    margin-bottom: 60px;
}

.blok-new-img {
    height: 200px;
    width: 480px;
    margin-bottom: 8px;
}




.footer {
    margin-top: 50px;
    background-color: #000000;
    height: 50px;
}


/* Category.html */

.category-block {
    margin-right: 200px;
}

/* deteil.html */

.deteil {
    width: 700px;

}

.deteil-title {

    font-size: 35px;
    margin-bottom: 12px;
}

.deteil-autor {
    font-size: 35px;
    padding: 7px 15px;
    background-color: #5477f6;
    border-radius: 5px;
    margin-right: 10px;
}

.deteil-data {
    font-size: 30px;
    margin-right: 15px;
}

.deteil-block {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.deteil-comments {
    display: flex;
    align-items: center;

}

.deteil-comments-img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}

.deteil-comments-count {
    font-size: 25px;
}

.deteil-img {
    width: 600px;
    height: 300px;
    margin-bottom: 10px;
}

.deteil-descriptions-p {
    font-size: 30px;
}

/* comments.html */

.comment-h3 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;

}

.comments-block {
    display: flex;
    align-items: center;
}

.comments-icon {
    width: 50px;
    height: 50px;
    background-color: #5477f6;
    border-radius: 50%;
    margin-right: 10px;
}

.comments-author {
    font-size: 30px;
}

.comment-text {
    font-size: 30px;
    margin-left: 50px;
}

.padding-com {
    margin-left: 80px;
}

.review-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

.review-label {
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

.review-input,
.review-textarea {
   
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    align-items: center;
    text-align: center;
}

.review-submit-btn {
    padding: 10px;
    margin-top: 10px;
    background-color: #4c68af;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.review-submit-btn:hover {
    background-color: #4549a0;
}

/* converter.html */


.currency-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.currency-form h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input,
.input-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.button-group {
    text-align: center;
    margin-top: 15px;
}

.button-group button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.result {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
}

.content-converter {
    margin-right: 100px;
    width: 800px;
}


/* -------------------------------------------------------------------------------------------- */
.site-signup {
    text-align: center;
    align-items: center;
}

.site-signup-h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.site-signup-p {
    font-size: 30px;
    margin-bottom: 10px;
}

.signup-label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-size: 30px;
}

.signup-input-form {
    width: 20%;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-form-submit {

    width: 10%;
    padding: 10px 15px;
    margin-top: 20px;
    background-color: #28a745;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 10px;
    transition: background-color 0.3s ease;
}

.auth-btn-signup {
    font-size: 20px;
    padding-top: 20px;
    margin-top: 20px;


}


/* admin */

.admin {}

.admin-header {
    background-color: rgba(0, 131, 167, 0.589);
    padding: 15px 0px;
}

.admin-header-p {
    color: #000000;
    font-size: 20px;
    margin-left: 10px;
}

.admin-header-h1 {
    margin-left: 10px;
    margin-top: 20px;
    font-size: 20px;
}


.menu-admin {
    margin-top: 30px;


}

.menu-admin-div {
    background-color: rgba(0, 131, 167, 0.589);
    padding: 15px 0px;
    width: 300px;
    border: 1px solid;
}

.menu-admin-title {

    margin-left: 10px;
}

.munu-list-div {
    background-color: #969696;
    width: 300px;
    padding: 15px 0px;
    border: 1px solid;
}

.munu-list-div-p {
    font-size: 20px;
    margin-left: 10px;
}

.munu-list-add-category {
    display: inline-block;
    /* чтобы ссылка не растягивалась на весь блок */
    margin-bottom: 20px;
    /* Отступ снизу */
    padding: 10px 20px;
    /* Внутренние отступы */
    font-size: 18px;
    /* Размер шрифта кнопки */
    color: #fff;
    /* Цвет шрифта */
    background-color: #5cb85c;
    /* Цвет фона */
    text-decoration: none;
    /* Убираем подчеркивание текста */
    border-radius: 5px;
    /* Скругление углов */
    cursor: pointer;
    /* Курсор в виде ручки при наведении */
}

.admin-container {
    display: flex;
    justify-content: space-between;

}

.category-admin {
    margin: 0px auto;
    align-items: center;
    text-align: center;
    ;
}


.category-add-input {
    width: 400px;
    height: 25px;
    border-radius: 40px;
}

.category-add-label {
    font-size: 25px;
    font-weight: 900;

}

.btn-category-add {
    margin-top: 20px;
    background-color: rgba(0, 131, 167, 0.589);
    font-size: 20px;
    border-radius: 20px;
}




/* Общий стиль для таблиц */
table {
    width: 100%;
    /* Заполняем весь доступный размер */
    border-collapse: collapse;
    /* Убираем двойные границы между ячейками */
}

/* Задаем стиль для заголовков таблицы */
table thead {
    background-color: #e7e7e7;
    /* Цвет фона */
}

/* Стили для ячеек таблицы */
table td,
table th {
    padding: 10px;
    /* Внутренние отступы */
    border: 1px solid #ddd;
    /* Граница */
    text-align: left;
    /* Выравнивание текста */
}

/* Стиль для строк таблицы при наведении */
table tr:hover {
    background-color: #f5f5f5;
    /* Цвет фона */
}



/* create post */

.create-form-container {
    max-width: 760px;
    margin: 20px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.create-form-field {
    margin-bottom: 20px;
}

.create-form-field label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: inline-block;
}

.create-form-field input,
.create-form-field textarea,
.create-form-field select {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.create-form-field textarea {
    resize: vertical;
}

.create-form-field input[type="file"] {
    background-color: #f8f8f8;
    border-color: #ddd;
}

.create-form-submit-button {
    width: 100%;
    padding: 10px 15px;
    border-radius: 4px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.create-form-submit-button:hover {
    opacity: 0.9;
}

.create-checkbox-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.create-checkbox-list label {
    display: block;
    cursor: pointer;
}



.list-p-error{
    font-size: 35px;
    font-weight: 900;
}

.category-filters{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 40px;
}


/* ///////////////////////////////////////// */

.comments-review-form {
    /* Стили для формы */
}

.comments-review-label {
    font-size: 25px;
    font-weight: 900;
    margin-top: 30px;
  
   
}

.comments-review-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    /* Стили для textarea */
}

.comments-review-submit-btn {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* Стили для кнопки "Отправить" */
}

.comments-review-submit-btn:hover {
    background-color: #4cae4c;
    /* Стили для кнопки "Отправить" при наведении */
}



/* kyrs */

.kyrs-h1{
    margin-bottom: 70px;
    font-size: 30px;
    font-weight: 900;
}
.add-base{
    font-size: 22px;
    font-weight: 700;
}

.tag-h3{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
}
.tag-ul{
    margin-top: 15px;
}
.tag-li{
    font-size: 25px;
    padding-bottom: 4px;
    text-decoration:underline;
    
}